* {
  margin: 0px;
  padding: 0px; }

.body {
  background-image: url(../imagenes/portada5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.redes2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

@font-face {
  font-family: glacial;
  src: url(../fuente/GRegular.otf) format("opentype"); }

@font-face {
  font-family: glacialbold;
  src: url(../fuente/GBold.otf) format("opentype"); }

@font-face {
  font-family: glacialitalic;
  src: url(../fuente/GItalic.otf) format("opentype"); }

.vacio {
  width: 100%;
  height: 550px; }

.contenedor {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0.4rem; }

.rosa1 {
  background-image: url(../imagenes/rosa2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.beige {
  background-image: url(../imagenes/beige3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.azul1 {
  background-image: url(../imagenes/celeste2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.col {
  height: 100%;
  padding: 0.6rem;
  text-align: center;
  transition: .1s ease-out all;
  cursor: pointer; }
  .col:hover {
    background: #66b1af; }

.a2 {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  font-family: glacialbold; }
  .a2:hover {
    color: #ffff; }

.bot {
  font-family: glacial;
  text-decoration: none;
  color: #252222;
  font-size: 1.2em;
  border: solid 2px #252222;
  padding: 1rem;
  cursor: pointer;
  background-image: linear-gradient(to right, #252222 50%, white 50%);
  background-size: 200%;
  background-position: right;
  background-repeat: no repeat;
  transition: background-position .5s ease; }
  .bot:hover {
    color: white;
    background-position: left;
    border: 2px solid #252222; }

.img3 {
  margin: 0rem; }

@keyframes youtube {
  0% {
    background-image: url(../imagenes/youtubeR.png);
    background-repeat: no-repeat;
    opacity: 0.3; }
  50% {
    background-image: url(../imagenes/youtubeR.png);
    background-repeat: no-repeat;
    opacity: 1; }
  100% {
    background-image: url(../imagenes/youtubeR.png);
    background-repeat: no-repeat;
    opacity: 0.7; } }

.a1 {
  cursor: pointer; }
  .a1:hover {
    animation-duration: 0.5s;
    animation-name: youtube;
    animation-iteration-count: infinite; }

.row {
  padding: 2rem; }

.header {
  background-color: transparent;
  padding: 0.3rem;
  margin-top: 2rem; }

.p {
  font-family: glacial;
  font-size: 2em;
  color: #252222;
  text-align: center;
  font-weight: 400; }

.p1 {
  font-family: glacialbold;
  font-size: 2em;
  color: #252222;
  padding: 0.9rem;
  text-align: center; }

.p10 {
  font-family: glacialbold;
  font-size: 2em;
  color: #dc6954;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.p9 {
  font-family: glacialbold;
  font-size: 2em;
  color: #134e46;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.p3 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: center;
  color: #272424; }

.p4 {
  font-family: glacialbold;
  font-size: 1.2em;
  line-height: 0rem;
  padding: 0rem;
  text-align: center;
  color: #252222; }

.p2 {
  font-family: glacialbold;
  font-size: 2em;
  color: #272424;
  padding: 0.9rem;
  text-align: center; }

.smal {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: justify;
  color: #252222; }

.smal10 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: justify;
  color: #dc6954; }

.smal9 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: center;
  color: #134e46; }

.smal2 {
  font-family: glacialbold;
  font-size: 1.2em;
  line-height: 1.1rem;
  padding: 0.3rem;
  text-align: center;
  color: #252222; }

.list-group-item {
  font-family: glacial;
  font-size: 1.2em;
  line-height: 2.5rem;
  padding: 1.5rem;
  text-align: justify;
  color: #252222; }

.smal3 {
  font-family: glacialitalic;
  font-size: 0.9em;
  line-height: 1.1rem;
  padding: 0.3rem;
  text-align: center;
  color: #252222; }

@media screen and (min-width: 1920px) {
  .contenedor {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.4rem; }
  .vacio {
    width: 100%;
    height: 650px;
    margin-top: none;
    padding: none; }
  .embed-responsive-item {
    width: 100%; }
  .img3 {
    margin: 3rem; } }

@media screen and (max-width: 500px) {
  .col {
    padding: 0.2rem; }
  .a2 {
    font-size: 1em;
    font-family: glacialbold; }
  .vacio {
    width: 100%;
    height: 250px;
    margin-top: none;
    padding: none; }
  .contenedor {
    width: 100%;
    height: 100%;
    padding: 0.7rem; }
  .p {
    font-size: 1.5em; }
  .p1 {
    font-size: 1.5em;
    margin-top: 2rem; }
  .smal {
    font-size: 1em; }
  .smal2 {
    font-size: 1em; }
  .list-group-item {
    font-size: 1em; }
  .smal3 {
    font-size: 0.9em; }
  .header {
    margin-top: none; }
  .row {
    margin-top: none;
    padding: 0.3rem; }
  .embed-responsive-item {
    width: 95%; }
  .img3 {
    margin: 3rem; }
  .bot {
    padding: 1 rem; }
  .btn {
    margin: 1rem; } }
