* {
  margin: 0px;
  padding: 0px; }

.body {
  background-image: url(../imagenes/portada5.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.redes2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

@font-face {
  font-family: glacial;
  src: url(../fuente/GRegular.otf) format("opentype"); }

@font-face {
  font-family: glacialbold;
  src: url(../fuente/GBold.otf) format("opentype"); }

@font-face {
  font-family: glacialitalic;
  src: url(../fuente/GItalic.otf) format("opentype"); }

.vacio {
  width: 100%;
  height: 550px; }

.contenedor {
  width: 100%;
  height: 100%;
  padding: 0.4rem; }


.rosa1 {
  background-image: url(../imagenes/rosaclaro.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.verdePrensa {
    background-image: url(../imagenes/aguaFondo3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

}

.foto {
  background-image: url(../imagenes/rodaje.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35rem;
    margin: 0px;
}

.rosa4 {
  background-image: url(../imagenes/rosaclaro2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.beige {
  background-image: url(../imagenes/beige.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.rosafinal {
  background-image: url(../imagenes/rosafinal.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.etiqueta {
  height: 100%;
  padding: 0.6rem;
  text-align: center;
  transition: .1s ease-out all;
  cursor: pointer; }
  .etiqueta:hover {
    background: #66b1af; }

.a2 {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  font-family: glacialbold; }
  .a2:hover {
    color: #ffff; }

.bot {
  font-family: glacial;
  text-decoration: none;
  color: #004964;
  font-size: 1.2em;
  padding: 1rem;
  cursor: pointer;

  background-color: #fbdce6;
 }
  .bot:hover {
    color: #004964;
  background-color: white; }

.img3 {
  margin: 0rem; }

.a1 {
  cursor: pointer; }

.boton {
  background-color: #10626f;
  color: white;
  border: none;
  width: 6rem;
  height: 2.6rem;

}

.form-control {
padding: 4rem;
}


.row {
  padding: 2rem; }

.header {
  background-color: transparent;
  padding: 0.3rem;
  margin-top: 2rem; }

.p {
  font-family: glacial;
  font-size: 2em;
  color: #252222;
  text-align: center;
  font-weight: 400; }

.p1 {
  font-family: glacialbold;
  font-size: 2em;
  color: #252222;
  padding: 0.9rem;
  text-align: center; }

.p1a {
  font-family: glacialbold;
  font-size: 2em;
  color: #8a6465;
  padding: 0.9rem;
  text-align: center; }

.p1aa {
    font-family: glacialbold;
    font-size: 2em;
    color: #8a6465;
    padding: 0.9rem;
    text-align: center; }

.p10 {
  font-family: glacialbold;
  font-size: 2em;
  color: #dc6954;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.p9 {
  font-family: glacialbold;
  font-size: 2em;
  color: #134e46;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.p99 {
    font-family: glacialbold;
    font-size: 2em;
    color: #0b465b;
    padding: 0.9rem;
    text-align: center;
    padding: 1rem; }

.p3 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: center;
  color: #272424; }

.p33 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: center;
  color: #10626f; }

.p4 {
  font-family: glacialbold;
  font-size: 1.2em;
  line-height: 0rem;
  padding: 0rem;
  text-align: center;
  color: #252222; }

.p44 {
  font-family: glacialbold;
  font-size: 1.2em;
  line-height: 0rem;
  padding: 0rem;
  text-align: center;
  color: #10626f; }

.p2 {
  font-family: glacialbold;
  font-size: 2em;
  color: #272424;
  padding: 0.9rem;
  text-align: center; }

.p22 {
  font-family: glacialbold;
  font-size: 2em;
  color: #10626f;
  padding: 0.9rem;
  text-align: center; }

.smal {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: justify;
  color: #252222; }

.smal10 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 1.9rem;
  padding: 0rem;
  text-align: justify;
  color: #8a6465; }

.smal10a {
    font-family: glacial;
    font-size: 1.3em;
    line-height: 1.9rem;
    padding: 0rem;
    text-align: justify;
    color: #8a6465; }

.smal9 {
  font-family: glacial;
  font-size: 1.3em;
  line-height: 1.9rem;
  padding: 0rem;
  text-align: justify;
  color: #134e46; }

.smal9c {
    font-family: glacialbold;
    font-size: 1.3em;
    line-height: 1.9rem;
    padding: 0rem;
    text-align: center;
    color: #134e46; }

.smal9d {
      font-family: glacialitalic;
      font-size: 1.3em;
      line-height: 1.9rem;
      padding: 0rem;
      text-align: center;
      color: #134e46; }

.smal9e {
        font-family: glacial;
        font-size: 1.3em;
        line-height: 1.9rem;
        padding: 0rem;
        text-align: center;
        color: #134e46; }

.smal99 {
    font-family: glacialitalic;
    font-size: 1.3em;
    line-height: 1.9rem;
    padding: 0rem;
    text-align: center;
    color: #004964; }

.alto {
height: 0.6rem;
}

.smal9b {
      font-family: glacialbold;
      font-size: 1.3em;
      line-height: 1.9rem;
      padding: 0rem;
      text-align: center;
      color: #004964; }

.smal999 {
      font-family: glacial;
      font-size: 1.3em;
      line-height: 1.9rem;
      padding: 0rem;
      text-align: center;
      color: #004964; }

.smal2 {
  font-family: glacialbold;
  font-size: 1.2em;
  line-height: 1.1rem;
  padding: 0.3rem;
  text-align: center;
  color: #252222; }

.list-group-item {
  font-family: glacial;
  font-size: 1.2em;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify; }

.lista2 {
  color: #8a6465; }

.smal3 {
  font-family: glacialitalic;
  font-size: 0.9em;
  line-height: 1.1rem;
  padding: 0.3rem;
  text-align: center;
  color: #252222; }

@media screen and (min-width: 1920px) {
  .contenedor {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.4rem; }
  .vacio {
    width: 100%;
    height: 650px;
    margin-top: none;
    padding: none; }
  .embed-responsive-item {
    width: 100%; }
  .img3 {
    margin: 3rem; }
  .rosa1 {
      background-size: cover; }
  .verdePrensa {
      background-size: cover;
    }
  .foto {
      background-size: 100%;
    
    }
  .rosa4 {
      background-size: cover; }
  .rosafinal {
      background-size: cover; }
  .azul1 {
      background-size: cover; }
  .beige {
      background-size: cover; }
  
  }

  @media screen and (max-width: 1520px) {
    .contenedor {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 0.4rem; }
    .vacio {
      width: 100%;
      height: 650px;
      margin-top: none;
      padding: none; }
    .embed-responsive-item {
      width: 100%; }
    .img3 {
      margin: 3rem; }
    .rosa1 {
        background-size: cover; }
    .verdePrensa {
        background-size: cover;
      }
    .foto {
        background-size: 100%;
      
      }
    .rosa4 {
        background-size: cover; }
    .rosafinal {
        background-size: cover; }
    .azul1 {
        background-size: cover; }
    .beige {
        background-size: cover; }
    
    }

@media screen and (max-width: 500px) {
  .body {
    background-image: url(../imagenes/mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
   
  }
  .a2 {
    visibility: hidden; }
  .a {
    visibility: hidden; }
  .vacio {
    width: 100%;
    height: 43rem;
    }
  .contenedor {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    
    }
  .p {
    font-size: 1.5em; }
  .p1 {
    font-size: 1.5em;
    margin-top: 2rem; }
  .smal {
    font-size: 1em; }
  .smal2 {
    font-size: 1em; }
  .list-group-item {
    font-size: 1em; }
  .smal3 {
    font-size: 0.9em; }
  .header {
    margin-top: none; }
 
  .embed-responsive-item {
    width: 95%; }
  .img3 {
    margin: 3rem; }
  .bot {
    padding: 1rem; }
  .btn {
    margin: 1rem; }
  .rosa1 {
    background-size: cover; 
    background-image: url(../imagenes/beige.png);
  
  }
  .verdePrensa {
    background-size: cover;
  }
  .foto {
    background-size: 100%;
    height: 10rem;
  }
  .rosa4 {
    background-size: cover;
    background-image: url(../imagenes/beige.png); }
  .rosafinal {
    background-size: cover;
    background-image: url(../imagenes/beige.png); 
  }
  
  .beige {
    background-size: cover; }

  .p10 {
    font-size: 1.5em; }
  .p9 {
    color: #10626f;
  }

  .smal9c {
    color: #10626f;
  }
  .smal9d {
    color: #10626f;
  }
  .smal9e {
    color: #10626f;
  }
  
  .p33 {
    font-size: 0.9em; }
  .p44 {
    font-size: 0.9em; }
  .p22 {
    font-size: 1.5em; }
  .smal9 {
    font-size: 1em;
    color: #10626f;
   }

  .smal10 {
    color: #10626f;
  }

.smal99 {
  color: #10626f;
} 

.smal999 {
  color: #10626f;
} 

.p99 {
  color: #10626f;
}

.smal9b {
  color: #10626f;
}
.p1aa {
    font-size: 1.5em;
  }
.p9 {
    font-size: 1.5em; }
  
.p1a {
      font-size: 1.5em;
      color: #10626f; }
.p99 {
        font-size: 1.5em;
       }
.uno {
    width: 24px; }
  
.alto {
      height: auto;
      }
.img6 {
        margin: .9rem;
      }

.form4 {
    margin-left: 1.3rem;
  }

.uno {
    margin-bottom: 0.9rem;
  }
  
  }
