* {
  margin: 0px;
  padding: 0px; }

.body {
  background-image: url(../imagenes/portadafinal.png);
  background-repeat: no-repeat;
  background-size: 100%;
 background-attachment: fixed;
  }


@font-face {
  font-family: glacial;
  src: url(../fuente/GRegular.otf) format("opentype"); }

@font-face {
  font-family: glacialbold;
  src: url(../fuente/GBold.otf) format("opentype"); }

@font-face {
  font-family: glacialitalic;
  src: url(../fuente/GItalic.otf) format("opentype"); }

.vacio {
  width: 100%;
  height: 39rem;

   }

.contenedor {
  width: 100%;
  height: 100%;
 
  
 }

.form3 {
  height: 2.8rem;
}

.form4 {
  height: 8rem;
}

.g-recaptcha {
  width: 20rem;
}

.lista2:hover {
  color: #10626f;
  text-shadow: #10626f .2px .2px .2px ;
}

.banda {
  text-decoration: none;
}

.boton {
  background-color: #10626f;
  color: white;
  border: none;
  width: 6rem;
  height: 2.6rem;

}

.rosa1 {
  background-image: url(../imagenes/colibri2.png);
  background-repeat: no-repeat;
  background-size: 100%;
 }

.verdePrensa {
    background-image: url(../imagenes/verde4.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.foto {
  background-image: url(../imagenes/pajaros.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.rosa4 {
  background-image: url(../imagenes/rosafinal3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  }

.beige {
  background-image: url(../imagenes/beige.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px; }

.rosafinal {
  background-image: url(../imagenes/rosafinal3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.etiqueta {
  height: 100%;
  padding: 0.6rem;
  text-align: center;
  transition: .1s ease-out all;
  cursor: pointer; }
  .etiqueta:hover {
    background: #66b1af; }

.a2 {
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-family: glacial; }
  .a2:hover {
    color: #ffff; }



.bot {
  font-family: glacial;
  text-decoration: none;
  color: #004964;
  font-size: 1.1em;
  padding: 1rem;
  cursor: pointer;

  background-color: #f8dfe4;
 }
  .bot:hover {
    color: #004964;
  background-color: white; }

.img3 {
  margin: 0rem; }

.header {
  background-color: transparent;
 }


.p1a {
  font-family: glacialbold;
  font-size: 2em;
  color: #8a6465;
  padding: 0.9rem;
  text-align: center; }

.p1aa {
    font-family: glacialbold;
    font-size: 2em;
    color: #8a6465;
    padding: 0.9rem;
    text-align: center; }


.p33 {
  font-family: glacial;
  font-size: 1.1em;
  line-height: 2.2rem;
  padding: 0rem;
  text-align: center;
  color: #10626f; }

.p22 {
  font-family: glacialbold;
  font-size: 2em;
  color: #10626f;
  padding: 0.9rem;
  text-align: center; }

.redes2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

.p44 {
    font-family: glacialbold;
    font-size: 1.1em;
    line-height: 0rem;
    padding: 0rem;
    text-align: center;
    color: #10626f; }

.smal10 {
  font-family: glacial;
  font-size: 1em;
  line-height: 2.1rem;
  text-transform: uppercase;
  text-align: justify;
  color: #6d4244; }

.smal10a {
    font-family: glacial;
    font-size: 1em;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: justify;
    color: #6d4244; }

.padding {
  padding: 1.5rem;
}

.padding2 {
  padding: 0.5rem;
}

.padding3 {
  padding: 2rem;
  margin: 1rem;
}

.smal9c {
    font-family: glacial;
    font-size: 1em;
    text-transform: uppercase;
    text-align: justify;
    color: #134e46; }


.smal9e {
        font-family: glacial;
        font-size: 1em;
        text-align: justify;
        text-transform: uppercase;
        color: #134e46; }

.smal99 {
    font-family: glacial;
    font-size: 1em;
  text-transform: uppercase;
  text-align: justify;
    color: #004964;
   }


.p9 {
  font-family: glacialbold;
  font-size: 2em;
  color: #2d675f;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.p99 {
  font-family: glacialbold;
  font-size: 2em;
  color: #226f8b;
  padding: 0.9rem;
  text-align: center;
  padding: 1rem; }

.smal999 {
      font-family: glacial;
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: #004964;     
    }


.list-group-item {
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: justify; }

.lista2 {
  color: #6d4244;
  font-family: glacial;
  font-size: .9em;
text-transform: uppercase; }


@media screen and (min-width: 1920px) {
  .contenedor {
    width: 100%;
   height: 100%;
   }

  .body {
    background-size: 100%;
    background-image: url(../imagenes/portadafinal.png);
  }
  .embed-responsive-item {
    width: 100%; }
  .img3 {
    margin: 3rem; }
  .rosa1 {
      background-size: cover; }
  .verdePrensa {
      background-size: cover;
    }
  .foto {
      background-size: cover;
    
    }
  .rosa4 {
      background-size: cover; }
  .rosafinal {
      background-size: cover; }
  .beige {
      background-size: cover;
      width: auto; }
  
  }

  @media screen and (max-width: 1420px){

    .body {
      background-size: 100%;
      background-image: url(../imagenes/portada2.png);
     }
     .rosa1 {
      background-size: cover; }
  .verdePrensa {
      background-size: cover;
    }
  .foto {
      background-size: cover;
    
    }
  .rosa4 {
      background-size: cover; }
  .rosafinal {
      background-size: cover; }
  .beige {
      background-size: cover;
      width: auto; }

  }

  @media screen and (max-width: 1340px){
    .contenedor {
      width: 100%;
      height: 100%;
    
   }

   .body {
    background-size: 100%;
    background-image: url(../imagenes/portada3.png);
   }

    .embed-responsive-item {
      width: 100%; }
    .img3 {
      margin: 3rem; }
    .rosa1 {
        background-size: cover; }
    .verdePrensa {
        background-size: cover;
      }
 .foto {
  background-size: cover;
 }
    .rosa4 {
        background-size: cover; }
    .rosafinal {
        background-size: cover;
      }
    .azul1 {
        background-size: cover; }
    .beige {
        background-size: cover;
      }

      .sobre {
        visibility: visible;
      }
    }

  @media screen and (max-width: 920px){
      .body {
        background-size: 100%;
        background-image: url(../imagenes/portada5.png); }
        
        .img6 {
          margin: 4rem;
          width: 100%;
          align-items: center;
          justify-content: center;
  
        }

        .sobre {
          visibility: hidden;
        }

        .rosa1 {
          background-size: cover; }
      .verdePrensa {
          background-size: cover;
        }
      .foto {
          background-size: cover;
        
        }
      .rosa4 {
          background-size: cover; }
      .rosafinal {
          background-size: cover; }
      .beige {
          background-size: cover;
          width: auto; }

      .boton {
            margin: 1rem;
        
          }
        
        .form3 {
        margin: 1rem;
        }
        
        .form4 {
        margin: 1rem;
        }
        .g-recaptcha {
          margin: 1rem;
        }
  
    }
  

@media screen and (max-width: 500px) {
  .body {
    background-image: url(../imagenes/mobile3.png);
    background-size: 100%;
    background-attachment: fixed;
  }
  .a2 {
    visibility: hidden; }
  .etiqueta {
    visibility: hidden;
  }

  .a {
    visibility: hidden; }

  .vacio {
    width: 100%;
    height: 45rem;
    }

  .lista2 {
    font-size: 0.7em; }
 
  .embed-responsive-item {
    width: 95%; }
  .img3 {
    margin: 3rem; }
  .bot {
    padding: 1rem; 
    font-size: 0.7em;
  }
  .btn {
    margin: 1rem; }
  .rosa1 {
    background-size: cover; 
    background-image: url(../imagenes/verde4.png);
  }
  .verdePrensa {
    background-size: cover;
  }
  .foto {
    background-size: 100%;
    height: 10rem;
  }
  .rosa4 {
    background-size: cover;
    background-image: url(../imagenes/beige.png); }
  .rosafinal {
    background-size: cover;
    background-image: url(../imagenes/beige.png); 
  }
  
  .beige {
    background-size: cover; }


  .smal9c {
    color: #10626f;
    font-size: .8em;
    line-height: 1.2rem;
    text-align: left;
    
  
  }

  .smal9e {
    color: #10626f;
    text-align: justify;
    font-size: .8em;
    line-height: 1.2rem;

  }


  .p33 {
    font-size: 0.7em; }
  .p44 {
    font-size: 0.7em; }
  .p22 {
    font-size: 1.5em;
   }


  .smal10 {
    color: #10626f;
    font-size: 0.8em;
    
  }

.smal10a {
   font-size: 0.8em;
    
}

.smal99 {
  color: #10626f;
  font-size: 0.8em;
} 

.smal999 {
  color: #10626f;
  font-size: 0.8em;
} 


.p1aa {
    font-size: 1.5em;
  }

  
.p1a {
      font-size: 1.5em;
      color: #226f8b; }

.p9 {
  font-size: 1.5em;
  color: #2d675f;
}

.p99 {
        font-size: 1.5em;
       }
.uno {
    width: 24px;
    margin-bottom: 0.9rem;
   }
  
   .img6 {
    margin: .8rem;
    width: 100%;
  }

.boton {
    margin: 1rem;
    font-size: 0.8em;
  }

.form3 {
margin: 1rem;
}

.form4 {
margin: 1rem;
}

.g-recaptcha {
  margin: 1rem;
}

.sobre {
  visibility: visible;
}

.form3::placeholder {
  font-size: .8rem;
}

.form4::placeholder {
  font-size: .8rem;
}

}

  
