* {
    margin: 0px;
    padding: 0px;
}
.body {
    background-image: url(../imagenes/portada5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}
.redes2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family:glacial;
    src: url(../fuente/GRegular.otf) format("opentype");
}
@font-face {
    font-family:glacialbold;
    src: url(../fuente/GBold.otf) format("opentype");
}
@font-face {
    font-family:glacialitalic;
    src: url(../fuente/GItalic.otf) format("opentype");
}
.vacio {
    width: 100%;
    height: 550px;
}

.contenedor {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.4rem;
}

.rosa1 {
    background-image: url(../imagenes/rosaclaro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

}

.verdePrensa {
        background-image: url(../imagenes/verdePrensa.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0px;
    
}

.rosa4 {
    background-image: url(../imagenes/rosaclaro2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

}

.beige {
    background-image: url(../imagenes/beige2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

}

.rosafinal {
    background-image: url(../imagenes/rosafinal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}

.azul1 {
    background-image: url(../imagenes/celeste2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

}

.col {
        height: 100%;
        padding: 0.6rem;
       text-align: center;
        transition: .1s ease-out all;
        cursor: pointer;
        
    
    &:hover {
        background: #66b1af;
       
        
    }
}

.a2 {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-family:glacialbold;
    


    &:hover {
        color: #ffff;
      

    }
}

.bot {
    
    font-family:glacial;
    text-decoration: none;
    color:rgb(37, 34, 34); 
    font-size: 1.2em;
    border: solid 2px rgb(37, 34, 34);
    padding: 1rem;
   cursor: pointer;
   background-image: linear-gradient(to right, rgb(37, 34, 34) 50%, white 50%);
   background-size: 200%;
   background-position: right;
   background-repeat: no repeat;
   transition:  background-position .5s ease;

    &:hover {
       color: white;
       background-position: left;
       border: 2px solid rgb(37, 34, 34);
}
}

.img3 {
    margin: 0rem;
}


@keyframes youtube {
    0% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 0.3;
    }
    50% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 1;
    }
    100% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 0.7;
    }
}
.a1 {
    cursor: pointer;
    &:hover {
        animation-duration: 0.5s;
        animation-name: youtube;
        animation-iteration-count: infinite;
       
        
    }
}

.row {
    padding: 2rem;
}
.header {
    background-color: transparent;
    padding: 0.3rem;
    margin-top: 2rem;
    }


.p {
    font-family:glacial;
    font-size: 2em;
    color: rgb(37, 34, 34);
    text-align: center;
    font-weight: 400;
}
.p1 {
    font-family:glacialbold;
    font-size: 2em;
    color: rgb(37, 34, 34);
    padding: 0.9rem;
    text-align: center;
}

.p1a {
    font-family:glacialbold;
    font-size: 2em;
    color: #8a6465 ;
    padding: 0.9rem;
    text-align: center;
}

.p10 {
    font-family:glacialbold;
    font-size: 2em;
    color: #dc6954;
    padding: 0.9rem;
    text-align: center;
    padding: 1rem;
}

.p9 {
    font-family:glacialbold;
    font-size: 2em;
    color: #134e46;
    padding: 0.9rem;
    text-align: center;
    padding: 1rem;
}

.p3 {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: center;
    color: rgb(39, 36, 36);
}

.p33 {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: center;
    color: #10626f;
}


.p4 {
    font-family:glacialbold;
    font-size: 1.2em;
    line-height: 0rem;
    padding: 0rem;
    text-align: center;
    color: rgb(37, 34, 34);
}

.p44 {
    font-family:glacialbold;
    font-size: 1.2em;
    line-height: 0rem;
    padding: 0rem;
    text-align: center;
    color: #10626f;
}

.p2 {
    font-family:glacialbold;
    font-size: 2em;
    color: rgb(39, 36, 36);
    padding: 0.9rem;
    text-align: center;
}

.p22 {
    font-family:glacialbold;
    font-size: 2em;
    color: #10626f;
    padding: 0.9rem;
    text-align: center;
}

.smal {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: justify;
    color: rgb(37, 34, 34);
}

.smal10 {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: justify;
    color: #dc6954;
}

.smal9 {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: justify;
    color: #134e46;
}

.smal2 {
    font-family:glacialbold;
    font-size: 1.2em;
    line-height: 1.1rem;
    padding: 0.3rem;
    text-align: center;
    color: rgb(37, 34, 34);
}


.list-group-item {
    font-family:glacial;
    font-size: 1.2em;
    line-height: 1.8rem;
    text-align: justify;

}

.lista2 {
    color: #8a6465;
}


.smal3 {
    font-family:glacialitalic;
    font-size: 0.9em;
    line-height: 1.1rem;
    padding: 0.3rem;
    text-align: center;
    color: rgb(37, 34, 34);
}

@media screen and (min-width: 1920px) {
    .contenedor {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0.4rem;
    }
       .vacio {
        width: 100%;
        height: 650px;
        margin-top: none;
        padding: none;
    }
    .embed-responsive-item {
        width: 100%;
    }

    .img3 {
        margin: 3rem;
    }
    
}
@media screen and (max-width: 500px) {
  
        .col {
           
            padding: 0.2rem;
     
       }
       .a2 {
        visibility: hidden;
       }
       .a { 
        visibility: hidden;
       }

       .vacio {
        width: 100%;
        height: 150px;
        margin-top: none;
        padding: none;
    }
    .contenedor {
        width: 100%;
        height: 100%;
        padding: 0.7rem;
    }
    .p {
        
        font-size: 1.5em;
        
    }
    .p1 {
       
        font-size: 1.5em;
        margin-top: 2rem;
       
    }
    
    .smal {
      
        font-size: 1em;
        
    }
    .smal2 {
       
        font-size: 1em;
        
    }
    .list-group-item {
    
        font-size: 1em;
        
    }
    .smal3 {
        
        font-size: 0.9em;
     
    }
    .header {
    
        margin-top: none;
    }
   .row {
       margin-top: none;
       padding: 0.3rem;
      
   }
  .embed-responsive-item {
      width: 95%;
  }
 
  .img3 {
    margin: 3rem;
  
}
.bot {
    padding: 1 rem;
   
}
.btn {
    margin: 1rem;
}

.rosa1 {
    background-size: cover;
    
    
   
}

.rosa4 {
    background-size:  cover;
     
       
}

.rosafinal {
    background-size:  cover;
   
   
}

.azul1 {
    background-size: cover;
    
   
}

.beige {
    background-size: cover;
   
   
}

.p1a {
font-size: 1.5em;
}

.p10 {
    font-size: 1.5em;
}

.smal10 {
    font-size: 1em;
}

.p33 {
font-size: 0.9em;
}

.p44 {
font-size: 0.9em;
}

.p22 {
 font-size: 1.5em;
}

.smal9 {
    font-size: 1em ;
}

.p9 {
    font-size: 1.5em;
}

.uno {
    width: 24px;
}

}

