* {
    margin: 0px;
    padding: 0px;
}
.body {
    background-image: url(../imagenes/dibujo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.redes2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family:glacial;
    src: url(../fuente/GRegular.otf) format("opentype");
}
@font-face {
    font-family:glacialbold;
    src: url(../fuente/GBold.otf) format("opentype");
}
@font-face {
    font-family:glacialitalic;
    src: url(../fuente/GItalic.otf) format("opentype");
}
.vacio {
    width: 100%;
    height: 550px;
}

.contenedor {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.4rem;
}

.col {
        height: 100%;
        padding: 0.6rem;
       text-align: center;
        transition: .1s ease-out all;
        cursor: pointer;
    
    &:hover {
        background: #ff99998e;
        color: #ffffff;
    }
}

.a2 {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-family:glacialbold;

    &:hover {
        color: #ffffff;
    }
}

.bot {
    
    font-family:glacial;
    text-decoration: none;
    color:rgb(37, 34, 34); 
    font-size: 1em;
    border: solid 2px rgb(37, 34, 34);
    padding: 1rem;

    &:hover {
       color: rgb(37, 34, 34); 
    }
}

.img3 {
    margin: 0rem;
}


@keyframes youtube {
    0% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 0.3;
    }
    50% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 1;
    }
    100% {
        background-image: url(../imagenes/youtubeR.png);
        background-repeat: no-repeat;
        opacity: 0.7;
    }
}
.a1 {
    cursor: pointer;
    &:hover {
        animation-duration: 0.5s;
        animation-name: youtube;
        animation-iteration-count: infinite;
       
        
    }
}

.row {
    padding: 2rem;
}
.header {
    background-color: transparent;
    padding: 0.3rem;
    margin-top: 2rem;
    }


.p {
    font-family:glacial;
    font-size: 2em;
    color: rgb(37, 34, 34);
    text-align: center;
    font-weight: 400;
}
.p1 {
    font-family:glacialbold;
    font-size: 2em;
    color: rgb(37, 34, 34);
    padding: 0.9rem;
    text-align: center;
}
.p3 {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: center;
    color: rgb(39, 36, 36);
}
.p4 {
    font-family:glacialbold;
    font-size: 1.2em;
    line-height: 0rem;
    padding: 0rem;
    text-align: center;
    color: rgb(37, 34, 34);
}

.p2 {
    font-family:glacialbold;
    font-size: 2em;
    color: rgb(39, 36, 36);
    padding: 0.9rem;
    text-align: center;
}

.smal {
    font-family:glacial;
    font-size: 1.3em;
    line-height: 2.2rem;
    padding: 0rem;
    text-align: justify;
    color: rgb(37, 34, 34);
}
.smal2 {
    font-family:glacialbold;
    font-size: 1.2em;
    line-height: 1.1rem;
    padding: 0.3rem;
    text-align: center;
    color: rgb(37, 34, 34);
}
.list-group-item {
    font-family:glacial;
    font-size: 1.2em;
    line-height: 2.5rem;
    padding: 1.5rem;
    text-align: justify;
    color: rgb(37, 34, 34);
}
.smal3 {
    font-family:glacialitalic;
    font-size: 0.9em;
    line-height: 1.1rem;
    padding: 0.3rem;
    text-align: center;
    color: rgb(37, 34, 34);
}

@media screen and (min-width: 1920px) {
    .contenedor {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0.4rem;
    }
       .vacio {
        width: 100%;
        height: 650px;
        margin-top: none;
        padding: none;
    }
    .embed-responsive-item {
        width: 100%;
    }

    .img3 {
        margin: 3rem;
    }
    
}
@media screen and (max-width: 500px) {
  
        .col {
           
            padding: 0.2rem;
     
       }
       .a2 {
        font-size: 1em;
        font-family:glacialbold;
       }
       .vacio {
        width: 100%;
        height: 250px;
        margin-top: none;
        padding: none;
    }
    .contenedor {
        width: 100%;
        height: 100%;
        padding: 0.7rem;
    }
    .p {
        
        font-size: 1.5em;
        
    }
    .p1 {
       
        font-size: 1.5em;
        margin-top: 2rem;
       
    }
    
    .smal {
      
        font-size: 1em;
        
    }
    .smal2 {
       
        font-size: 1em;
        
    }
    .list-group-item {
    
        font-size: 1em;
        
    }
    .smal3 {
        
        font-size: 0.9em;
     
    }
    .header {
    
        margin-top: none;
    }
   .row {
       margin-top: none;
       padding: 0.3rem;
      
   }
  .embed-responsive-item {
      width: 95%;
  }
 
  .img3 {
    margin: 3rem;
  
}
.bot {
    padding: 1 rem;
   
}
.btn {
    margin: 1rem;
}
}

